@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: #12131d;
  text-decoration: none;
}

body {
  font-family: 'Source Code Pro', monospace;
  background: #f6f6f6;
  color: #12131d;
}

button.save-btn:hover, button.update-btn:hover, .btn {
  cursor: pointer;
}

.make-bigger {
  font-size: 20px;
}

header h1 {
  text-align: center;
  width: 80px;
  margin: 20px auto 0 auto;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

header h1 .cow-emoji {
  font-size: 30px;
}

.form-container {
  width: 501px;
  margin: 20px auto 50px auto;
}

@media all and (max-width: 500px) {
  .form-container {
    width: 97%;
    margin: 20px auto 40px auto;
  }
}

.form-container .plot {
  font-size: 1.1rem;
  resize: none;
  width: 100%;
  border: none !important;
}

.form-container textarea::-webkit-input-placeholder {
  font-family: 'Source Code Pro', monospace;
  color: #12131d;
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 5px;
}

.form-container textarea:-ms-input-placeholder {
  font-family: 'Source Code Pro', monospace;
  color: #12131d;
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 5px;
}

.form-container textarea::-ms-input-placeholder {
  font-family: 'Source Code Pro', monospace;
  color: #12131d;
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 5px;
}

.form-container textarea::placeholder {
  font-family: 'Source Code Pro', monospace;
  color: #12131d;
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 5px;
}

.form-inputs-1 {
  border: 1px solid  #12131d;
}

.form-inputs-2 {
  border-left: 1px solid  #12131d;
  border-right: 1px solid  #12131d;
  background: #fff;
}

.form-inputs-3 {
  margin-bottom: 10px;
  border: 1px solid  #12131d;
}

textarea:focus {
  padding: 5px 0 0 5px;
  height: 100px;
}

::-webkit-input-placeholder {
  color: #12131d;
  font-family: 'Source Code Pro', monospace;
}

:-ms-input-placeholder {
  color: #12131d;
  font-family: 'Source Code Pro', monospace;
}

::-ms-input-placeholder {
  color: #12131d;
  font-family: 'Source Code Pro', monospace;
}

::placeholder {
  color: #12131d;
  font-family: 'Source Code Pro', monospace;
}

input[type=text] {
  padding: 10px 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  width: 100%;
  color: #12131d;
  border: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  font-family: 'Source Code Pro', monospace;
  outline: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

.alert {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

.alert-success, .alert-warning {
  background: #2ECC71;
}

.alert-danger {
  background: #F4D03F;
}

.submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.submit-container button.save-btn, .submit-container button.update-btn {
  border-radius: 5px;
  padding: 5px 9px;
  text-transform: uppercase;
  border: none;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 16px;
  background: #12131d;
}

.list-title {
  margin: 0 auto;
  width: 501px;
  margin-bottom: 20px;
}

@media all and (max-width: 500px) {
  .list-title {
    width: 97%;
  }
}

.list-title h2 {
  margin-left: 10px;
  font-size: 22px;
}

.result-indie {
  background: #fff;
  border-right: 1px solid  #12131d;
  border-top: 1px solid  #12131d;
  border-left: 1px solid  #12131d;
  width: 501px;
  height: auto;
  margin: 0 auto 30px auto;
  font-size: 14px;
  padding-top: 10px;
}

@media all and (max-width: 500px) {
  .result-indie {
    width: 97%;
  }
}

.result-indie .info-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.result-indie .info-row .row-name {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  height: 40px;
  width: 50px;
  text-align: center;
}

.result-indie .title-row {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.result-indie .plot-row .plot-writing {
  max-height: 100px;
  overflow: auto;
}

.result-indie .plot-row .plot-writing p::first-letter {
  text-transform: uppercase;
}

.result-indie .seen-row {
  padding-top: 20px;
  border-bottom: 1px solid #12131d;
}

.result-indie .seen-row .seen-writing p::first-letter {
  text-transform: uppercase;
}

.result-indie .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: #12131d solid 1px;
}

.result-indie .buttons-container .buttons-wrapper {
  padding-right: 10px;
}

.result-indie:last-child {
  margin: 0 !important;
}

footer {
  margin: 20px 0;
  width: 100%;
}

footer p {
  text-align: center;
}

.select-babe {
  padding: 3px;
  border: #12131d solid 1px;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 15px;
}

.split-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.split-div article {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.make-small {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  font-size: 12px;
}
/*# sourceMappingURL=styles.css.map */